#main-title{
    background-color: #fcf2ff;
}

#main-container {
    background-color: #f3fffd;
}

#start-text-badge #start-checkbox-badge{
    width: 100%;
    font-size: 18px;
}

.language-chooser{
    height: 40px;
    width: 68px;
    background-color: #94a7ff;
}

#main-title-text{
    font-size: 36px;
}

#main-subtitle-text{
    font-size: 25px;
}

.main-title-text-small{
    font-size: 18px;
}
body{
    min-width: 375px;
    min-height: 600px;
}
#not-active-languages{
    max-width: 150px;
    min-width: 150px;
    width: 150px;
}